*.md
.next/
.github/workflows/azure-static-web-apps-black-dune-01bc2f500.yml
.github/workflows/azure-static-web-apps-calm-field-089396400.yml
public/static/favicon_io/*

.eslintrc.json
.github/workflows/prettier-check.yml
src/app/globals.css
components.json
next.config.mjs
postcss.config.mjs
convex